<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="resetForm" method="post">
        <input name="password" type="text" placeholder="enter new password">
        <input name="confirm_password" type="password" placeholder="confirm new password">
        
        <button type="submit">reset password</button>
    </form>
    
    <script>
        // Example token value, ideally this should be securely provided by your server
       
        
        // Set the form action dynamically
        document.getElementById("resetForm").action = `/api/users/reset-password/${token}`;
    </script>
</body>
</html>
